.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 10;
}
.close {
  background-color: inherit;
  border: 0px ;
  color: inherit;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalBody{
    margin: 15% auto;
    background-color: rgb(190, 189, 189);
    border: 2px solid rgb(58, 57, 57);
    width: 80%;
    height: 50%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.connect{
    flex-grow: 0;
    flex-basis: 1;
}